{% extends 'base.html' %}

{% block title %}Encurte, otimize e venda.{% endblock  %}

{% block main %}

<div class="d-flex flex-column bd-highlight mb-3">
    <div class="p-2 bd-highlight text-center mt-2">
        <h1 class="f-one">Encurtador grátis com pixel</h1>
    </div>

    <form class=" d-flex flex-column p-2 bd-highlight justify-content-center" method="post" action="{% url 'app:home' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="bg-1 txt-5 p-2 rounded-start" id="basic-addon1"><i class="bi bi-link-45deg"></i></span>
            {{form.url_original}}
        </div>  
        <button class=" bg-1 w-75 rounded-pill p-1 txt-5 f-one m-auto">ENCURTAR</button>        
    </form>
    <div class="p-2 bd-highlight text-center"><p><a class="t-link txt-2" href="{% url 'account_signup' %}">Cadastre-se </a> para ter acesso a todas as funcionalidades</p<</div>
  </div>

{% endblock  %}

