{% extends 'base.html' %}

{% block title %}Encurte, otimize e venda.{% endblock  %}

{% block main %}

<div class="d-flex flex-column bd-highlight mb-3">
    <div class="p-2 bd-highlight text-center mt-2">
        <h1 class="f-one">Encurtador grátis com pixel</h1>
    </div>
{% if not slug  %}

    <form class=" d-flex flex-column p-2 bd-highlight justify-content-center" method="post" action="{% url 'app:home' %}">
        {% csrf_token %}
        <div class=" m-auto input-group mb-3 w-50">
            <span class="bg-1 txt-5 p-2 rounded-start" id="basic-addon1"><i class="bi bi-link-45deg"></i></span>
            {{form.url_original}}
            {{form.url_original.errors}}
        </div>  
        <button class=" bg-1 w-50 rounded-pill p-1 txt-5 f-one m-auto">ENCURTAR</button>        
    </form>
    {% else %}
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function copiarTexto() {
            let textoCopiado = document.getElementById("url");
            textoCopiado.select();
            textoCopiado.setSelectionRange(0, 99999)
            document.execCommand("copy");
            let toast = document.getElementById('toast')
            txt = document.getElementById('txt')
            txt.innerText = textoCopiado.value
            toast.classList.value = 'position-fixed bottom-0 end-0 p-3'
            setTimeout(() => {
                toast.classList.value = 'position-fixed bottom-0 end-0 p-3 visually-hidden'
            }, 3000);
            
            }
    </script>
    <div  class=" d-flex flex-column p-2 bd-highlight justify-content-center container-fluid">
        <div class="m-auto input-group mb-3 w-25">
            <input type="text" class="form-control" id="url" name="url" value="https://encurtadorpixel.herokuapp.com/{{slug}}" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" disable>
            <button  onclick="copiarTexto()" class="input-group-text" id="basic-addon1"><i class="bi bi-journals"></i></button>
        </div>                
    </div>
    
    <div id="toast" class="position-fixed bottom-0 end-0 p-3 visually-hidden" style="z-index: 11">
        <div id="liveToast" class="d-flex flex-column shadow border" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="bg-4 p-2 shadow rounded-top border-bottom">
            <!-- <img src="..." class="rounded me-2" alt="..."> -->
            <strong class="me-auto fs-6">Copiado com sucesso!</strong>
            
            <button type="button" class="btn-close float-end" data-bs-dismiss="toast" aria-label="Close"></button>
            
          </div>
          
          <div class="toast-body bg-5 ">
            <p id='txt'></p>
          </div>
        </div>
      </div>
   
    
{% endif %}
    <div class="p-2 bd-highlight text-center"><p><a class="t-link txt-2" href="">Cadastre-se </a> para ter acesso a todas as funcionalidades</p<</div>
  </div>

{% endblock  %}

